body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    background-image: url("Images/Mcs.jpg");
}

.details {
    color: white;
    background-color: #720606;
    padding-bottom: 20%;
    margin: 3% 3%;
    border: solid;
    border-color: black;
    border-radius: 5px;
}


.details h2 {
    text-align: center;
}

.details div{
    float: left;
    margin: 4%;
}

.details h3 {
    text-align: center;
}

.details p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.links {
    color: white;
    background-color: #720606;
    border: solid;
    border-color: black;
    border-radius: 5px;
    margin: 3%;
    padding-bottom: 20%;
}

.links div {
    float: left;
    margin: 0% 9%;
}


@media only screen and (max-width: 600px) {

.details {
    color: white;
    background-color: #720606;
    border: solid;
    border-color: black;
    border-radius: 5px;
}

.details h2 {
    text-align: center;
    padding-bottom: 5%;
    font-size: 20px;
}

.details div{
    font-size: 10px;
    float: none;
}

.details h3 {
    text-align: center;
}

.details p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.links {
    color: white;
    background-color: #720606;
    border: solid;
    border-color: black;
    border-radius: 5px;
    margin: 3%;
    padding: 4% 0%;
}

.links div {
    float: none;
    font-size: 10px;
}

.links a {
    font-size: 10px;
}



}
